.gradle
/build/
/out/
/*/.gradle/
/*/build/
/*/out/
/kodilla-exception/build/
/kodilla-exception/out/
/kodilla-good-patterns/build/
/kodilla-good-patterns/out/
/kodilla-hibernate/.gradle/
/kodilla-hibernate/out/
/kodilla-jdbc/build/
/kodilla-jdbc/out/
/kodilla-patterns/build/
/kodilla-patterns/out/
/kodilla-spring/.gradle/
/kodilla-spring/out/
/kodilla-spring-intro/build/
/kodilla-spring-intro/out/
/kodilla-spring-web/.gradle/
/kodilla-spring-web/out/
/kodilla-stream/build/
/kodilla-stream/out/
/kodilla-testing/build/
/kodilla-testing/out/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/